body{
    background-color: rgb(77, 117, 248);
    font-family: Arial, Helvetica, sans-serif;
}
header{
    color: white;
    text-align: center;
}
section{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    width: 500px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.616);
}
footer{
    color: white;
    font-style: italic;
    text-align: center;
}
div{
    text-align: center;
}